<div class="container d-flex flex-column justify-content-center align-items-center bg-info mb-3" style="height: 700px;">

<div class="d-flex flex-row mb-5"><h1>Hola que tal</h1></div>
<div class="d-flex flex-column flex-md-row justify-content-evenly w-100">
  <div>
      <div class="{{ estiloIcono }}" style="max-width: 150px;" id="reloj"></div>
      <h3 class="{{ estiloH3 }}">{{ hora }}</h3>
  </div>
  <div>
      <div>
        <div class="{{ estiloIcono }}" style="max-width: 150px;" id="calendario"></div>
      </div>
      <h3 class="{{ estiloH3 }}">{{ fecha }}</h3>
  </div>
  <div>
      <div>
        <div class="{{ estiloIcono }}" style="max-width: 150px;" id="pin"></div>
      </div>
      <h3 class="{{ estiloH3 }}">Lugar</h3>
  </div>
</div>



</div>



